<tr>
  <td>
    <%= book.title %>
  </td>
  <td>
    <%= book.author %>
  </td>
  <td>
    <%= book.genre %>
  </td>
  <td>
    <%= book.isbn %>
  </td>
  <td>
    <%= book.total_copies %>
  </td>
</tr>
